#login_view{
  height: 100vh;
}

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* home */

#search-bar__container {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 350px;
  height: 44px;
  padding: 1px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#search-bar {
  float: left;
  border-radius: 10px;
  width: 340px;
  border: none;
  text-indent: 6px;

  /* background-color: black; */
}

#searchbar__img {
  width: 44px;
  height: 44px;
  padding: 8px;
  border-radius: 10px;
  background-color: #77DD77;
  margin-left: 10px;
  border-top-left-radius: 0px ;
  font-weight: bold;
  color: white;
}

#search-bar:focus {
  outline:none;
  text-indent: 10px;
  font-size: large;
  /* font-weight: bold; */
  /* border-color:#9ecaed; */
  /* box-shadow:0 0 10px #9ecaed; */
}

/* endHome */