body {
  box-sizing: border-box;
}

#login_view {
  height: 100vh;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable- input:focus {
  border-color: #77dd77;
  box-shadow: 0 0 6px #77dd77;
  outline: #77dd77 auto 5px;
}

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-header {
  background-image: url("/assets/img/login-banner.jpg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* home */

#home-banner {
  margin-top: 30px;
  margin: auto;
}

#home-banner h1 {
  font-size: 2em;
  font-weight: bold;
}

#home-banner h2 {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: normal;
}

#search-bar__container {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 350px;
  height: 44px;
  padding: 1px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#search-bar {
  /* float: left; */
  border-radius: 10px;
  width: 350px;
  border: none;
  text-indent: 6px;
  /* background-color: black; */
}

#searchbar__img {
  /* float: right; */
  width: 44px;
  height: 44px;
  padding: 8px;
  border-radius: 10px;
  background-color: #77dd77;
  margin-left: 10px;
  border-top-left-radius: 0px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#search-bar:focus {
  outline: none;
  /* text-indent: 10px; */
  /* font-size: large; */
  /* font-weight: bold; */
  /* border-color:#9ecaed; */
  /* box-shadow:0 0 10px #9ecaed; */
}

/* endHome */

/* profile */
#profile-banner {
  background-image: url("/assets/img/login-banner.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#profile-content {
  position: relative;
  top: -110px;
}

#profile-menu {
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.profile-menu__header {
  text-align: center;
}
.profile-menu__header > img {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: green;
  border-radius: 50%;
}

.profile-menu__tabs {
  margin-top: 20px;
}

.profile-menu__tabs > ul > li {
  list-style-type: none;
  background-color: red;
  margin-top: 10px;
}
.profile-menu__tabs > button > ul > li > a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 44px;
  /* background-color: blue; */
  font-weight: bold;
}

#profile-setting_content {
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* color: white; */
}
/* End-profile */
